<div class="col-sm-12">
    <div class="jumbotron">
        <h1>Welcome to Bootscrap!</h1>
        <p>This is Mandi's sandbox for practicing Bootstrap stuff.</p>
        <p><a class="btn btn-primary btn-lg btn-responsive" href="#" role="button">This button does nothing except get smaller on narrower screens.</a></p>
    </div>

    <div class="col-sm-12">
        <h2>Alerts to pop and stuff</h2>
        <!-- left column alerts-->
        <div class="col-sm-6">
            <div class="alert alert-warning alert-dismissable btn-lg" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Click the X</strong> to summon a <span class="glyphicon glyphicon-lamp"></span> once.</strong>
            </div>

            <div class="alert alert-info alert-dismissable btn-lg" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span class="glyphicon glyphicon-cloud"></span>
                <span>Do you want a build a snowman?</span>
                <span class="glyphicon glyphicon-flash"></span>
            </div>

            This alert is in its own row:
            <div class="row">
                <div class="alert alert-danger alert-dismissable btn-lg" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-heart"></span>
                    <span>It doesn't have to be a snowman.</span>
                </div>
            </div>
        </div><!-- closes col sm 6 -->

        <!-- right column alerts-->
        <div class="col-sm-3 bgsolid">
            This col-sm-3 has a background fill class to demonstrate that the column sizes to the content inside it. Dismiss the alert to see it shrink.
            <div class="alert alert-info alert-dismissable btn-sm" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>This alert is smaller.</span>
            </div>
        </div><!-- closes col sm 3 -->
    </div>

    <h2>Well, that's just like your opinion, man</h2>
    <div class="row">
        <!-- selection -->
        <div class="col-sm-8">
               <div class="btn-group">
                   Best Disney ride:
                   <select
                           ng-model="ridesList"
                           class="form-control"
                           ng-options="ride for ride in rides">
                   </select>
               </div>
        </div>
        <!-- display -->
        <div class="col-sm-4">



        </div>
    </div>

    <h3>Centered Fish Ipsum</h3>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>
            Opaleye, slender snipe eel straptail pejerrey Pacific salmon priapumfish South American Lungfish cusk-eel handfish dhufish ocean perch lanternfish. Round whitefish merluccid hake ghoul spotted danio mail-cheeked fish duckbilled barracudina elephantnose fish queen parrotfish. Yellowtail horse mackerel, "snapper," sleeper shark, lionfish--blue triggerfish orbicular velvetfish; yellowfin cutthroat trout.

            Blacksmelt barbel silver dollar bluegill pleco, ocean perch white shark! Crappie bramble shark, pearleye American sole glass catfish yellowfin cutthroat trout. Dottyback tidewater goby; jawfish weasel shark hardhead catfish sea bass silver dollar temperate bass zebra loach Australian herring mora! Yellowfin tuna starry flounder flagfin kuhli loach whiff swampfish icefish Australian lungfish--trumpeter climbing catfish cardinalfish muskellunge sand tiger blue-redstripe danio scabbard fish.

            Striped burrfish; roosterfish, sea chub collared carpetshark redtooth triggerfish zebra bullhead shark bigeye squaretail beaked sandfish vimba longfin smelt. South American Lungfish; sábalo, "glass catfish snook sea bream striped bass," skate paradise fish. California halibut croaker murray cod Alaska blackfish pink salmon, Pacific hake tubeshoulder skipping goby. Sandperch lighthousefish; Modoc sucker spiny dogfish codling; gouramie mora upside-down catfish North American darter. Climbing catfish trout-perch pleco dogteeth tetra stonefish bigscale bandfish northern pearleye Kafue pike sucker fathead sculpin electric catfish. Port Jackson shark: tadpole fish: Japanese eel squawfish hoki jewfish; largemouth bass yellow-and-black triplefin gibberfish darter rockweed gunnel. Slimehead sand tiger moonfish, yellow-edged moray bigeye Arctic char.

            Tiger shovelnose catfish platyfish conger eel; soldierfish delta smelt lagena. Razorfish forehead brooder madtom convict cichlid sand tilefish gibberfish mackerel zebra bullhead shark wrasse goldfish huchen snake mackerel.
            </p>
        </div>
    </div>
</div>