<div class="col-sm-12">
    <div class="jumbotron">
        <h1>Welcome to Bootscrap!</h1>
        <p>This is Mandi's sandbox for practicing Bootstrap stuff.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">This button does nothing, unless you count having a lot of text as doing something.</a></p>
    </div>

    <div class="col-sm-6">
        <h1>Alerts to pop</h1>
            <div class="row">
                <div class="alert alert-warning alert-dismissable btn-lg" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Click the X</strong> to summon a <span class="glyphicon glyphicon-lamp"></span> once.</strong>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-info alert-dismissable btn-lg" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-cloud"></span>
                    <span>Do you want a build a snowman?</span>
                    <span class="glyphicon glyphicon-flash"></span>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-danger alert-dismissable btn-lg" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-heart"></span>
                    <span>It doesn't have to be a snowman.</span>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Dropdowns</h1>
               <div class="btn-group">
                   <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                       Favorite Disney Ride<span class="caret"></span>
                   </button>
                       <ul class="dropdown-menu" role="menu">
                           <li role="presentation"><a role="menuitem">Tower of Terror</a></li>
                           <li role="presentation"><a role="menuitem">Splash Mountain</a></li>
                           <li role="presentation"><a role="menuitem">Star Tours</a></li>
                           <li role="presentation"><a role="menuitem">Space Mountain</a></li>
                           <li role="presentation"><a role="menuitem">Just kidding, Tower of Terror is the obvious choice</a></li>
                       </ul>
               </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
            Opaleye, slender snipe eel straptail pejerrey Pacific salmon priapumfish South American Lungfish cusk-eel handfish dhufish ocean perch lanternfish. Round whitefish merluccid hake ghoul spotted danio mail-cheeked fish duckbilled barracudina elephantnose fish queen parrotfish. Yellowtail horse mackerel, "snapper," sleeper shark, lionfish--blue triggerfish orbicular velvetfish; yellowfin cutthroat trout.

            Blacksmelt barbel silver dollar bluegill pleco, ocean perch white shark! Crappie bramble shark, pearleye American sole glass catfish yellowfin cutthroat trout. Dottyback tidewater goby; jawfish weasel shark hardhead catfish sea bass silver dollar temperate bass zebra loach Australian herring mora! Yellowfin tuna starry flounder flagfin kuhli loach whiff swampfish icefish Australian lungfish--trumpeter climbing catfish cardinalfish muskellunge sand tiger blue-redstripe danio scabbard fish.

            Striped burrfish; roosterfish, sea chub collared carpetshark redtooth triggerfish zebra bullhead shark bigeye squaretail beaked sandfish vimba longfin smelt. South American Lungfish; sábalo, "glass catfish snook sea bream striped bass," skate paradise fish. California halibut croaker murray cod Alaska blackfish pink salmon, Pacific hake tubeshoulder skipping goby. Sandperch lighthousefish; Modoc sucker spiny dogfish codling; gouramie mora upside-down catfish North American darter. Climbing catfish trout-perch pleco dogteeth tetra stonefish bigscale bandfish northern pearleye Kafue pike sucker fathead sculpin electric catfish. Port Jackson shark: tadpole fish: Japanese eel squawfish hoki jewfish; largemouth bass yellow-and-black triplefin gibberfish darter rockweed gunnel. Slimehead sand tiger moonfish, yellow-edged moray bigeye Arctic char.

            Tiger shovelnose catfish platyfish conger eel; soldierfish delta smelt lagena. Razorfish forehead brooder madtom convict cichlid sand tilefish gibberfish mackerel zebra bullhead shark wrasse goldfish huchen snake mackerel.
            </p>
        </div>
    </div>
</div>