
<div class="jumbotron">
    <h1>Welcome to Bootscrap!</h1>
    <p>This is Mandi's sandbox for practicing Bootstrap.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">This button does nothing, unless you count having a lot of text as doing something.</a></p>
</div>

<div class="col-sm-6">
    <h1>Alerts to pop</h1>
        <div class="row">
            <div class="alert alert-warning alert-dismissable btn-lg" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Click the X</strong> to summon a <span class="glyphicon glyphicon-lamp"></span> once.</strong>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-info alert-dismissable btn-lg" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span class="glyphicon glyphicon-cloud"></span>
                <span>Do you want a build a snowman?</span>
                <span class="glyphicon glyphicon-flash"></span>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-danger alert-dismissable btn-lg" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span class="glyphicon glyphicon-heart"></span>
                <span>It doesn't have to be a snowman.</span>
            </div>
        </div>
</div>